body{
  font-family: 'Ubuntu', sans-serif;
  background: #000;
  overflow: hidden;
}

.bcg-wrap{
  width: 100%;
  min-height: 35vh;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-size: 500%;
  font-weight: 700;
  line-height: 150%;
  perspective: 600px;
  text-align: justify;
}

.animation {
  position: relative;
  top: 10px;
  transform-origin: 50% 100%;
  animation: animation 30s linear;
  animation-iteration-count: infinite;
}

.text-wrap {
  font-size: 90%;
  text-align: center;
}

@keyframes animation {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}